*.pyc
*__pycache__
.pytest_cache
build
.ipynb_checkpoints
*.egg-info
log
.flake8
.vscode
thor/test/data
thor/test/runtime_visualization
thor/options
thor/data/gridrad_website.py
thor/data/gridrad_stacey.py