# Python dependencies
numpy
numba
scipy
scikit-image
pandas
matplotlib
xarray
cartopy
typing_extensions
netcdf4
h5netcdf
requests
arm_pyart
tqdm
xesmf
opencv-python
awscli
tables
pydantic
zarr
pydot
graphviz
metpy